# Dependencias
node_modules/

# Builds
dist/
build/
.next/
.out/
.vercel/

# Tests
coverage/

# Logs y diagnósticos
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Variables de entorno
.env
.env.*
!.env.example

# Herramientas/editores
.vscode/
.idea/
.DS_Store
Thumbs.db

# Cache de bundlers
.cache/
.eslintcache/
stylelintcache/
.tmp/
